@import "config";
@import "utilities";
@import "fonts";

@import "normalize-scss/normalize";

body, html {
  height: 100%;
}

body {
  font: 1em/1.5 $base-font-stack;
  background-color: $light;
  color: $dark;
}

a {

  &:link,
  &:visited {
    color: $highlight;
  }

  &:hover,
  &:active,
  &:focus {
    color: lighten($highlight, 20%);
  }
}

abbr {
  cursor: help;
}

blockquote {
  font-style: italic;

  em {
    font-style: normal;
  }
}

.container {
  margin: 0 auto;
  min-height: 100%;
  height: inherit;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

header,
.page {
  box-sizing: border-box;
  width: 50%;
  padding-top: 1em;
  float: left;

  position: relative;
  z-index: 5;

  .wrap-inner {
    max-width: em(370px);
  }
}


.vr {
  position: absolute;
  z-index: 10;
  top: 11em;
  left: 50%;
  margin-left: em(-1 * $vr-radius-size);
  width: em($vr-radius-size * 2 - 10); /* vr-radius-size - border-width */

  line-height: 100%;

  img {
    width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 0 1px #666;
  }
}

header {
  padding-left: 1em;
  padding-right: em($vr-radius-size + 15);
  padding-top: 13.9em;

  @media (max-width: em($medium-mq)) {
    padding-top: 14.5em;
  }

  text-align: right;

  h1 {
    margin: 0;
    font-size: 1.2em;

    @media (max-width: em($medium-mq)) {
      font-size: 1em;
    }

    b, em {
      display: block;
    }

    b {
      font-size: 2.8em;
      font-weight: bold;
      color: $highlight;
    }

    em {
      font-size: 1.2em;
    }
  }

  .wrap-inner {
    float: right;
  }
}

.page {
  min-height: em($large-top-limit, $base-font-size);
  height: 100%;

  @media (max-width: em($medium-mq)) {
    min-height: em($medium-top-limit, $base-font-size);
  }

  padding-left: em($vr-radius-size + 15);
  padding-right: 1em;
  background-color: $dark;
  color: $light;

  a {
    &:link,
    &:visited {
      color: $light;
    }

    &:hover,
    &:active,
    &:focus {
      color: lighten($highlight, 20%);
    }
  }

  blockquote {
    margin: 0 0 0 em(80px);
    position: relative;

    &::after {
      content: "“";
      display: block;
      font-size: em(200px);
      font-style: normal;
      position: absolute;
      top: em(-60px, 200px);
      left: em(-90px, 200px);
      color: darken($light, 80%);
    }
  }
}

footer {
  position: absolute;
  z-index: 0;
  top: em($large-top-limit, $footer-font-size);
  bottom: 0;
  left: 0;

  @media (max-width: em($medium-mq)) {
    top: em($medium-top-limit, $footer-font-size);
  }

  width: 50%;

  font-size: em($footer-font-size);

  a {
    text-decoration: none;
    color: $dark;

    &:visited {

    }
  }

  .legals, .links {
    position: absolute;
    bottom: 1em;
    left: 1em;
    max-width: 50%;
  }

  .links {
    left: auto;
    right: 1em;

    ul {
      margin: 0;
      list-style-type: none;
    }

    li + li {
      margin-top: em(6px);
    }

    a {
      display: block;
      width: em($icon-font-size);
      height: em($icon-font-size);

      color: $light;

      border-radius: 50%;

      &:link,
      &:visited {
        background-color: $dark;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $highlight;
      }
    }

    i {
      position: relative;

      display: block;
      height: 100%;
      text-indent: -99999px;

      &:before {
        display: block;
        position: absolute;
        top: em(4px);
        left: em(4px);

        text-indent: 0;

        font-size: em($icon-font-size - 8);
      }
    }
  }
}

@media (max-width: em($small-mq)) {
  @import "mobile";
}
