@include box-cover;

footer {
  @media (max-width: em($medium-mq)) {
    top: em($large-top-limit, $footer-font-size);
  }
}

.left {
  p {
    font-style: italic;
  }
}

.right {
  min-height: em($large-top-limit, $base-font-size);
}

.rabbithole {
  display: block;

  text-align: center;
  padding-top: 2.9em;
  @media (max-width: em($medium-mq)) {
    padding-top: 3.65em;
  }

  text-decoration: none;

  transition-property: color;
  transition-duration: 350ms;
  transition-timing-function: ease-out;

  &::before {
    @include icon;
    @include icon-madhatter;

    display: block;
    font-size: em(370px);
    @media (max-width: em($medium-mq)) {
      font-size: em(290px);
    }
  }

  &::after {
    @include icon;
    @include icon-arrow-down;

    display: block;
    width: 1.45em;
    line-height: 1.45em;

    margin: .5em auto;

    font-size: 32px;
    border: 1px solid $light;
    border-radius: 50%;

    transition-property: margin-top, border-color;
    transition-duration: 350ms;
    transition-timing-function: ease-out;

    @include animate-fadeloop;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    margin-top: 1.5em;
    border-color: lighten($highlight, 20%);

    animation-play-state: paused;
  }
}
