.col {
  float: none;
  width: 100%;
  padding: 1em;

  .max-w {
    float: none !important;
    margin: 0 auto !important;
  }
}

.page {
  min-height: 0 !important;
  height: auto !important;
}

footer {
  box-sizing: border-box;

  position: relative !important;
  top: 0 !important;
  width: 100% !important;
  overflow: hidden;

  padding: 1em;

  background-color: $dark;
  color: $light;

  a {
    &:link,
    &:visited {
      color: $light;
    }

    &:hover,
    &:active,
    &:focus {
      color: lighten($highlight, 20%);
    }
  }

  .links a {
    color: $dark;

    &:link,
    &:visited {
      background-color: $light;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($highlight, 20%);
    }
  }

  &:after {
    @include icon;
    @include icon-rocket;

    display: block;
    position: absolute;
    top: em(8px);
    left: 50%;
    margin-left: em(-10px);

    width: em(20px);
    height: em(20px);

    font-size: em(20px);
    text-align: center;

    background-color: $dark;
    color: $light;
  }

  &:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 2em;

    background-color: darken($light, 80%);
  }

  .legals,
  .links {
    position: static;
  }

  .legals {
    float: left;
  }

  .links {
    float: right;
  }
}
