/*
This document has been created with Marked.app <http://marked2app.com>, Copyright 2013 Brett Terpstra
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title:  Upstanding Citizen
Author:  Brett Terpstra
Description: A modern layout with bold headlines
Non-standard fonts used:
	* Sinzano
	* Gandhi
	* Input
Download @font-face kits from <http://www.fontsquirrel.com/fontface>. Woff versions included as data uris.
*/
@font-face {
  font-family: 'Sinzano';
  src: url("./fonts/sinzano-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gandhi';
  src: url("./fonts/GandhiSerif-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gandhi';
  src: url("./fonts/GandhiSerif-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gandhi';
  src: url("./fonts/GandhiSerif-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gandhi';
  src: url("./fonts/GandhiSerif-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;; }

@font-face {
  font-family: 'Input';
  src: url("./fonts/Input-Regular_(InputMonoCondensed-Light).ttf") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  -webkit-font-smoothing: antialiased;
  font: normal 0.8764em / 1.5em Arial, Verdana, sans-serif;
  margin: 0; }

li {
  font-size: 110%; }
  li li {
    font-size: 100%; }
  li p {
    font-size: 100%;
    margin: .5em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: Sinzano, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

h1 {
  color: #000;
  font-size: 4.2857em;
  line-height: 1em;
  margin: .6563em 0; }

h2 {
  color: #111;
  font-size: 2.7143em;
  line-height: 1.2em;
  margin: 1.75em 0 .875em; }

h1, h2 {
  text-align: center;
  padding: .3em 0; }

h2 {
  border-bottom: solid 1px #ddd; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #003057; }

h2::before {
  content: "~  ";
  color: #aaa; }
h2::after {
  content: "  ~";
  color: #aaa; }

h3 {
  color: #111;
  font-size: 2.5em;
  line-height: 1.2em;
  margin: 1.8em 0 0; }

h4 {
  color: #111;
  font-size: 2.25em;
  line-height: 1.2em;
  margin: .3em 0; }

h5 {
  color: #111;
  font-size: 2em;
  line-height: 1.2em;
  margin: .3em 0; }

h6 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: .3em 0; }

body, p, div {
  color: #222;
  font-family: Gandhi, "Georgia", serif;
  word-wrap: break-word; }

a {
  transition: color .2s ease-in-out;
  color: #004e8c;
  text-decoration: none; }
  a:hover {
    color: #3593d9; }


.footnote {
  color: #0d6ea1;
  font-size: .8em;
  vertical-align: super; }


dd {
  margin-bottom: 1em; }

li > p:first-child {
  margin: 0; }

ul ul, ul ol {
  margin-bottom: .4em; }
ul ul {
  list-style: disc; }
  ul ul ul {
    list-style: square; }
    ul ul ul ul {
      list-style: circle; }

table {
  margin-bottom: 2em;
  padding: 0;
  font-size: 14px;
  border-collapse: collapse;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  width: 70%;
  margin: 0 auto 2em auto;
  border: 1px solid #ddd;
  border-radius: 4px; }
  table caption, table col, table colgroup, table table, table tbody, table td, table tfoot, table th, table thead, table tr {
    border-spacing: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 24px; }
  table caption {
    display: table-caption;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Sinzano;
    word-spacing: .2em;
    background: rgba(0, 0, 0, 0.75);
    color: #EEE;
    padding: 4px;
    border-radius: 4px;
    margin: 4px 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35); }
  table col {
    display: table-column; }
  table colgroup {
    display: table-column-group; }
  table tbody {
    display: table-row-group; }
  table tfoot {
    display: table-footer-group; }
  table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left; }
  table th {
    padding-top: 9px;
    font-family: Sinzano;
    font-size: 18px;
    font-weight: normal !important;
    text-transform: uppercase;
    vertical-align: middle; }
  table td {
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-family: Gandhi,georgia,serif; }
  table tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top; }
  table th + th, table td + td, table th + td {
    border-left: 1px solid #ddd; }
  table thead tr:first-child th:first-child, table tbody tr:first-child td:first-child {
    border-radius: 4px 0 0 0; }
  table thead tr:first-child th:last-child {
    border-radius: 0 4px 0 0; }
  table tr:nth-child(odd), table th:nth-child(odd), table td:nth-child(odd) {
    background: rgba(255, 255, 255, 0.06); }
  table tr:nth-child(even), table td:nth-child(even) {
    background: rgba(0, 0, 0, 0.06); }
  table tbody tr:first-child td:last-child {
    border-radius: 0 4px 0 0; }
  table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px; }
  table tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0; }
  table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03); }

figure {
  display: inline-block;
  position: relative;
  margin: 1em 0 2em; }

figcaption {
  font-style: italic;
  text-align: center;
  background: white;
  color: #444;
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 98%;
  padding: 1%;
  transition: all .2s ease-in-out; }

ul {
  list-style: circle; }

.poetry pre {
  display: block;
  font-family: Georgia, Garamond, serif !important;
  font-size: 110% !important;
  font-style: italic;
  line-height: 1.6em;
  margin-left: 1em; }
  .poetry pre code {
    font-family: Georgia, Garamond, serif !important;
    word-break: break-all;
    hyphens: auto;
    white-space: pre-wrap; }

blockquote p {
  font-size: 110%;
  font-style: italic;
  line-height: 1.6em; }

sup, sub, a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: super; }

sub {
  vertical-align: sub;
  top: -1px; }

p {
  font-size: 1.1429em;
  line-height: 1.3125em;
  margin: 1.3125em 0; }

dt, th {
  font-weight: 400; }

dt {
  font-weight: 600; }

footer {
  margin-top: 5em;
  padding: 2em 0;
  background-color: #333;
  color: #ddd;
  text-align: center;
}

@media print {
  body {
    font-size: 10pt;
    overflow: auto; }

  h2 {
   page-break-after: avoid; }

  img, pre, blockquote, table, figure {
    page-break-inside: avoid; }

  p, h2, h3 { orphans: 3; widows: 3; }

  a[href]::after { content: " [" attr(href) "]"; }
  pre a[href]::after, a[href^="javascript:"]::after, a[href^="#"]::after { content: ""; }

  pre, blockquote { border: 1px solid #ddd; padding-right: 1em; page-break-inside: avoid; }

  footer {
    border-top: 1px solid #ddd; }

  @page { margin: .79in .62in; } }

pre, code, tt {
  color: #8b8074;
  font-family: Input, Menlo, Monaco, monospace;
  font-weight: bold;
  text-align: left;
  margin: 2em 0;
  font-weight: normal; }

p code, li code {
  font-size: 14px; }

tt {
  display: block;
  margin: 1.5em 0;
  line-height: 1.5; }

code {
  border: 1px solid #ddd;
  padding: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #222; }

pre code {
  border: none; }

@media screen {
  ::selection {
    background-color: rgba(101, 207, 255, 0.3); }

  h1::selection {
    background-color: rgba(45, 156, 208, 0.3); }

  h2::selection {
    background-color: rgba(90, 182, 224, 0.3); }

  h3::selection, h4::selection, h5::selection, h6::selection {
    background-color: rgba(133, 201, 232, 0.3); }

  code::selection {
    background-color: #333;
    color: #eee; }
  code span::selection {
    background-color: #333 !important;
    color: #eee !important; }

  a::selection {
    background-color: rgba(255, 230, 102, 0.5); }

  td::selection, th::selection, caption::selection {
    background-color: rgba(180, 237, 95, 0.5); }

  .inverted {
    background: #252a2a; }
    .inverted #wrapper {
      background: #252a2a; }
    .inverted hr {
      border-color: #333f40 !important; }
    .inverted p, .inverted td, .inverted li, .inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5, .inverted h6, .inverted th, .inverted .math, .inverted caption, .inverted dd, .inverted dt {
      color: #eee !important; }
    .inverted h2, .inverted h3 {
      border-color: rgba(200, 200, 200, 0.3); }
    .inverted code {
      background: #444;
      padding: 2px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #eee; }
    .inverted pre code {
      background: #f5f5f5;
      padding: 7px;
      color: #111; }
    .inverted table tr:nth-child(odd), .inverted table th:nth-child(odd), .inverted table td:nth-child(odd) {
      background: none; }
    .inverted a {
      color: #94dbff; }

  #wrapper {
    padding: 20px; } }
